<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-qupaicloud"
  version="0.0.1">

  <name>QuPaiCloud</name>
  <description>Cordova QuPaiCloud Plugin</description>
  <license>MIT</license>
  <keywords>cordova,QuPaiCloud</keywords>
  <repo>https://github.com/giantss/cordova-plugin-qupaicloud</repo>
  <issue>https://github.com/giantss/cordova-plugin-qupaicloud/issues</issue>

  <!--require cordova version -->
  <engines>
    <engine name="cordova" version=">=4.0.0" />
     <engine name="cordova-android" version=">=4.0.0" />
  </engines>

  <!-- js module-->
  <js-module src="www/QuPaiCloud.js" name="QuPaiCloud">
    <clobbers target="QuPaiCloud" />
  </js-module>

   <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="QuPaiCloud">
         <param name="ios-package" value="QuPaiCloud"/>
       </feature>
        <!--whitelist for QuPaiCloud SDK-->
      <access origin = "https://www.qupaicloud.com//*"/>
     </config-file>

	  <header-file src="src/ios/QuPaiCloud.h"/>
	  <source-file src="src/ios/QuPaiCloud.m"/>
      <!--QuPaiCloud SDK version 1.2.0.1-->
     <header-file src="src/ios/libQuPaiCloudSDK/M13ProgressHUD.h" />
	 <source-file src="src/ios/libQuPaiCloudSDK/M13ProgressHUD.m"/>
	 
     <header-file src="src/ios/libQuPaiCloudSDK/M13ProgressView.h" />
	 <source-file src="src/ios/libQuPaiCloudSDK/M13ProgressView.m"/>
	 
	 <header-file src="src/ios/libQuPaiCloudSDK/M13ProgressViewRing.h" />
	 <source-file src="src/ios/libQuPaiCloudSDK/M13ProgressViewRing.m"/>
	 
	 <header-file src="src/ios/libQuPaiCloudSDK/UIImage+ImageEffects.h" />
	 <source-file src="src/ios/libQuPaiCloudSDK/UIImage+ImageEffects.m"/>
	 
	 <resource-file src="src/ios/libQuPaiCloudSDK/QPSDK.bundle" />

	 <framework   src="src/ios/libQuPaiCloudSDK/QPSDK.framework" custom="true" />


  </platform>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="QuPaiCloud" >
        <param name="android-package" value="com.giants.qupaicloud.QuPaiCloud"/>
      </feature>
      <!--whitelist for QuPaiCloud SDK-->
      <access origin = "https://www.qupaicloud.com//*"/>
    </config-file>
  <!--permission for QuPaiCloud SDK -->
  <config-file target="AndroidManifest.xml" parent="/manifest">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

		<uses-permission android:name="android.permission.READ_PHONE_STATE" />

		<uses-permission android:name="android.permission.READ_SETTINGS" />

		<uses-permission android:name="android.permission.WRITE_SETTINGS" />

		<uses-permission android:name="android.permission.INTERNET" />

		<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

		<uses-permission android:name="android.permission.GET_TASKS" />

    </config-file>
 
  <source-file src="src/android/AppConfig.java" target-dir="src/com/giants/qupaicloud" />
  <source-file src="src/android/AppGlobalSetting.java" target-dir="src/com/giants/qupaicloud" />
  <source-file src="src/android/Auth.java" target-dir="src/com/giants/qupaicloud" />
  <source-file src="src/android/Contant.java" target-dir="src/com/giants/qupaicloud" />
  <source-file src="src/android/FileUtils.java" target-dir="src/com/giants/qupaicloud" />
  <source-file src="src/android/QuPaiCloud.java" target-dir="src/com/giants/qupaicloud" />
  <source-file src="src/android/RecordResult.java" target-dir="src/com/giants/qupaicloud" />
  <source-file src="src/android/RequestCode.java" target-dir="src/com/giants/qupaicloud" />
      <!-- android QuPaiCloud sdk version 1.2.0.1  https://www.qupaicloud.com/home/solution-standard.html -->
  <source-file src="src/android/libs/armeabi-v7a/libgnustl_shared.so" target-dir="libs/armeabi-v7a/"/>
  <source-file src="src/android/libs/armeabi-v7a/libqupai-media-jni.so" target-dir="libs/armeabi-v7a/"/>
  <source-file src="src/android/libs/armeabi-v7a/libqupai-media-thirdparty.so" target-dir="libs/armeabi-v7a/"/>
  <framework src="src/android/my-gradle.gradle" custom="true" type="gradleReference" />
  <resource-file src="src/android/libs/Qupaisdk-release.aar" target="libs/Qupaisdk-release.aar" />
 
  

  </platform>
</plugin>
