<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-QuPaiCloud"
  version="0.0.1">

  <name>QuPaiCloud</name>
  <description>Cordova QuPaiCloud Plugin</description>
  <license>MIT</license>
  <keywords>cordova,QuPaiCloud</keywords>
  <repo>https://github.com/giantss/cordova-plugin-QuPaiCloud</repo>
  <issue>https://github.com/giantss/cordova-plugin-QuPaiCloud/issues</issue>

  <!--require cordova version -->
  <engines>
    <engine name="cordova" version=">=4.0.0" />
     <engine name="cordova-android" version=">=4.0.0" />
  </engines>

  <!-- js module-->
  <js-module src="www/QuPaiCloud.js" name="QuPaiCloud">
    <clobbers target="QuPaiCloud" />
  </js-module>

   <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="QuPaiCloud">
         <param name="ios-package" value="QuPaiCloud"/>
       </feature>
        <!--whitelist for QuPaiCloud SDK-->
      <access origin = "https://www.qupaicloud.com//*"/>
     </config-file>

    <!--set ios URLTypes for QuPaiCloud SDK -->
   <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLName</key>
          <string>qcloud</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>tencent$QCLOUD_APP_ID</string>
          </array>
        </dict>
      </array>
    </config-file>
  
    <!--allow non-HTTPS traffic -->
    <config-file platform="ios" target="*-Info.plist" parent="NSAppTransportSecurity">
       <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>
    </config-file>
    <!--scheme query whitlist-->
    <config-file platform="ios" target="*-Info.plist" parent="LSApplicationQueriesSchemes">
        <array>
            <string>qcloud</string>   
        </array>
    </config-file>
    <header-file src="src/ios/QCloud.h"/>
	 <header-file src="src/ios/MBProgressHUD.h"/>
    <source-file src="src/ios/QCloud.m"/>
	<source-file src="src/ios/MBProgressHUD.m"/>
    <!--required frameworks for qcloud sdk-->
    <framework src="CoreTelephony.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="libstdc++.6.dylib" />
    <!--qcloud SDK version 1.1.4.1-->
     <header-file src="src/ios/QcloudSDK/TXYBase.h" />
     <header-file src="src/ios/QcloudSDK/TXYUploadManager.h" />
     <source-file src="src/ios/QcloudSDK/libTXYUploader.a" framework="true" />

  </platform>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="QuPaiCloud" >
        <param name="android-package" value="com.giantss.pupaicloud"/>
      </feature>
      <!--whitelist for QuPaiCloud SDK-->
      <access origin = "https://www.qupaicloud.com//*"/>
    </config-file>
  <!--permission for QuPaiCloud SDK -->
  <config-file target="AndroidManifest.xml" parent="/manifest">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

<uses-permission android:name="android.permission.READ_PHONE_STATE" />

<uses-permission android:name="android.permission.READ_SETTINGS" />

<uses-permission android:name="android.permission.WRITE_SETTINGS" />

<uses-permission android:name="android.permission.INTERNET" />

<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

<uses-permission android:name="android.permission.GET_TASKS" />

    </config-file>
 
  <source-file src="src/android/QuPaiCloud.java" target-dir="src/com.giantss.pupaicloud" />

  </platform>
</plugin>
